body {
        background-color:LemonChiffon;
        color:gray;
}

.sunflower {
	background-color:CornSilk;
}
.bree-serif-regular {
 	 font-family: "Bree Serif", serif;
  	font-weight: 400;
  	font-style: normal;
}
a {
	color:DimGray;
}

